table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }

  

#materials {
    .top-bg {

        @include media-breakpoint('lt-md') {
            height: 256px;
        }
    }
    > .center {

        > .header {

            .search-wrapper {
                width: 100%;
                max-width: 480px;
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .search {
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 18px;
                    background-color: white;

                    input {
                        width: 100%;
                        height: 48px;
                        min-height: 48px;
                        max-height: 48px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }

            @include media-breakpoint('lt-md') {
                padding: 8px 0;
                height: 192px !important;
                min-height: 192px !important;
                max-height: 192px !important;
            }
        }
    }

}
.content-card{
    border-style: solid !important;
    border-width: 0.1px !important;
    border-color: white !important;
}
.materials-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-header-row {
        min-height: 64px;
        text-align: center !important;
    }

    .product {
        position: relative;
        height: 84px;
        text-align: center !important;
    }

    .mat-cell {
        min-width: 0;
        display: grid;
    }

}


.table-fmf {
    width: 100%;
    text-align: center !important
}

.txt-fmf-center-head {
    color: #194d3f !important;
    font-weight: bold !important;
    font-size: small;
    display: grid;
    text-align: right !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-contract-fmf {
    display: block !important;
}

.icon-search {
    color: #757575;
}

.space-icon {
    margin-right: 3%;
    margin-left: -3%;
}

.customWidthClass{
    flex: 0 0 75px;
}

.customWidthClassIcon{
    flex: 0 0 110px;
}

.customWidthClassname{
    flex: 0 0 150px;
}

.txt-center-fmf {
    text-align: center !important;
}

.txt-left-fmf {
    text-align: left !important;
}

.txt-right-fmf {
    text-align: right !important;
}

.status-PC-fmf {
    background-color: #ebe851;
    color: black;
    border: 2px solid #ebe851;
    padding: 1px;
    border-radius: 25px;
    margin-right: 12%;
    margin-left: 25%;
    align-content: center;
}
.status-CC-fmf {
    background-color: #35aeb3;
    color: white;
    border: 2px solid #35aeb3;
    padding: 1px;
    border-radius: 25px;
    margin-right: 12%;
    margin-left: 25%;
    align-content: center;
}
.status-PF-fmf {
    background-color: #af8103;
    color: white;
    border: 2px solid #af8103;
    padding: 1px;
    border-radius: 25px;
    margin-right: 12%;
    margin-left: 25%;
    align-content: center;
}
.status-EO-fmf {
    background-color: #2c5bbe;
    color: white;
    border: 2px solid #2c5bbe;
    padding: 1px;
    border-radius: 25px;
    margin-right: 12%;
    margin-left: 25%;
    align-content: center;
}
.status-Can-fmf {
    background-color: #943333;
    color: white;
    border: 2px solid #943333;
    padding: 1px;
    border-radius: 25px;
    margin-right: 12%;
    margin-left: 25%;
    align-content: center;
}
.status-Fin-fmf {
    background-color: #217721;
    color: white;
    border: 2px solid #217721;
    padding: 1px;
    border-radius: 25px;
    margin-right: 12%;
    margin-left: 25%;
    align-content: center;
}

.icon-button-fmf {
    cursor: pointer;
}

.icon-button-fmf :hover {
    color: #217721;
    transform: scale(1.2);
    cursor: pointer;
}

.no-results {
    margin-top: 5%;
    text-align: center;
}

.btn-excel{
    align-content: center;
    cursor: pointer;
    float: right;
}
.btn-excel:hover{
    background-color: white ;
    color: #43a047;
}

.mat-option{
    width: auto !important;
}

.text-left-dt{
    text-align: left !important;
}

.text-rigth-dt{
    text-align: right !important;
}

.inputfindgroup{
    color: black;
    text-transform: uppercase;
}

.loading-screen-wrapper{
    z-index:100000;
    position: absolute;
    background-color: rgba(255,255,255, 0.8);
    width: 100%;
    height: 100%;
    display: block;
}

.loading-screen-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}

.filtersMaterial{
    max-height: 100px !important;
}

.btnFilter{
    background-color: white;
}

.mat-input-element{
    max-width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
  }

.column170{
    flex: 0 0 170px;
}
.column270{
    flex: 0 0 270px;
}
.column160{
    flex: 0 0  150px;
}
.column90{
    flex: 0 0 75px;
}
.column100{
    flex: 0 0 100px;
}
  .mat-card{
      background-color: #009688 !important;
      color: white !important;
  }

  .search, .search-wrapper {
      max-width: 250px !important;
  }

  .filters {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    align-items: center;
 }
  
 .filter {
     flex: 0 1 24%;
 }

 div.accent{
     background-color: #009688 !important;
 }

 .visible{
     background: #009688;
 }

 .hide{
     display: none !important;
 }

 #detailNmroCnta{
     background: white;
 }

 .sectionDetail{
     display: flex;
 }
 .btnReturn{
     flex: 0;
     background: #009688;
 }


 .titleDetail{
     display: flex;
     flex: 2;
     color: white;
     background: #009688;
     justify-content:center;
 }
 
 .detailtable{
     background: white;
     margin: 30px;
 }

 .selectNmroCnta{
     cursor: pointer;
 }

 .mat-footer-cell{
    font-weight: bold;
 }